<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf字面量</title>
</head>
<body>
<h1>文本字面量：用单/双引号'...'火起来的字符串为文本字面量</h1>
<span th:text="文本"></span>

<h2>数字字面量</h2>
今年是<span th:text="2020">1949</span>年<br>
500年后<span th:text="2020 + 500">2520</span>年大闹天宫<br>

<h2>boolean字面量</h2>
<div th:if="${true}">为真</div>
<div th:unless="${false}">为假</div>

<h2>null字面量</h2>
<div th:if="${data == null}">为空</div>
<div th:if="${data != null}">不为空</div>

</body>
</html>